<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    {% block head %}{% endblock %}
</head>
<body>
    {% if includeNavbarAndFooter %}
        {% include 'Components/Navbar/navbar.html.twig' %}
    {% endif %}
    
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    
    {% if includeNavbarAndFooter %}
        {% include 'Components/Footer/footer.html.twig' %}
    {% endif %}
</body>
</html>
