.carousel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 10px;
}

.carousel-logo {
    font-size: 50px;
    margin-bottom: 10px;
    color: #0056b3;
}

.carousel-description h2 {
    font-size: 36px;
    margin: 10px 0;
    padding-top: 0%;
}

.carousel-description p {
    font-size: 18px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s ease;
}

.carousel-arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

.carousel-arrow.prev {
    left: 20px;
}

.carousel-arrow.next {
    right: 20px;
}

/* Animation pour les slides */
.carousel-slide.active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}
