/* Styles pour la liste des jeux */

body {
    background-image: url('/images/image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.games-container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Optionnel : légère transparence */
    min-height: 100vh; /* Assure que le conteneur couvre toute la hauteur de la fenêtre */
}

.games-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.game-item {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.game-item:hover {
    transform: scale(1.05);
}

.game-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.game-item h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.game-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}
