<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou dossier existe physiquement, on ne redirige pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon, on redirige tout vers index.php
    RewriteRule ^.*$ index.php [QSA,L]
</IfModule>
