{% extends 'layouts/layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/promotions.css">
{% endblock %}

{% block content %}
<div class="promotions-page">
    <div class="promotions-container">
        <div class="promotions-header">
            <h1 class="animated-text">-Promotions-</h1>
            <p class="subtitle">Les meilleures offres du moment !</p>
        </div>

        <ul class="promotions-list">
            <li><i class="fas fa-gift"></i> Bonus de Bienvenue : 100% jusqu’à 200€</li>
            <li><i class="fas fa-clock"></i> Happy Hour : Chaque vendredi de 18h à 20h</li>
            <!-- etc. -->
        </ul>
    </div>
</div>
{% endblock %}
