{# src/Frontend/Templates/Pages/Promotions/index.html.twig #}
{% extends 'layouts/layout.html.twig' %}

{% block head %}
    {# CSS/JS pour les promotions #}
{% endblock %}

{% block content %}
    <h1>Promotions</h1>
    <p>Profitez de nos offres spéciales :</p>
    <ul>
        <li><strong>Bonus de Bienvenue :</strong> 100% jusqu’à 200€</li>
        <li><strong>Happy Hour :</strong> Chaque vendredi de 18h à 20h</li>
        {# etc. #}
    </ul>
{% endblock %}
