{# src/Frontend/Templates/Pages/About/index.html.twig #}
{% extends 'layouts/layout.html.twig' %}

{% block head %}
    {# CSS/JS pour la page À propos #}
{% endblock %}

{% block content %}
    <h1>À propos</h1>
    <p>Découvrez l’histoire de Spin&Win et notre engagement envers nos joueurs.</p>
{% endblock %}
