{# src/Frontend/Templates/Pages/Games/index.html.twig #}
{% extends 'layouts/layout.html.twig' %}

{% block head %}
    {# CSS/JS spécifiques pour la liste des jeux #}
{% endblock %}

{% block content %}
    <h1>Nos Jeux</h1>
    <p>Découvrez notre sélection de jeux de casino :</p>
    <ul>
        <li><a href="/games/blackjack">Blackjack</a></li>
        <li><a href="/games/roulette">Roulette</a></li>
        <li><a href="/games/poker">Poker</a></li>
        <li><a href="/games/slots">Machines à Sous</a></li>
    </ul>

    {# Exemple d’appel d’un partial si besoin #}
    {# {% include 'partials/games-intro.html.twig' %} #}
{% endblock %}
