{% extends 'layouts/layout.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block content %}
<div class="games-container">
    <h1> $ SLOT MACHINE $ </h1>
    <div class="games-list">
        <div class="game-item">
            <a href="{{ path('games_slots') }}">
                <img src="/images/slots_thumbnail.png" alt="Machine à Sous">
                <h2>Machine à Sous</h2>
            </a>
        </div>
        <div class="game-item">
            <a href="/games/ultra-gains">
                <img src="/images/slots_thumbnail.png" alt="Ultra Gains">
                <h2>Ultra Gains</h2>
            </a>
        </div>
        <!-- Ajoutez d'autres jeux ici -->
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/games.css">
{% endblock %}
